$main-color: nth($teal-500, 1)
$main-theme-color: ('main-500': $main-color)
$body-bg: $gray-900
$body-color: $white
$dropdown-link-hover-bg: $gray-200
$dropdown-link-active-bg: $main-color
$dropdown-link-disabled-color: $gray-500

$btn-link-color: $main-color
$btn-link-hover-color: darken($main-color, 10%)

$nav-link-color: $main-color
$nav-link-hover-color: $main-color

$nav-tabs-border-color: $gray-700
$nav-tabs-link-hover-border-color: $main-color
$nav-tabs-link-active-color: $white
$nav-tabs-link-active-bg: $gray-700
$nav-tabs-link-active-border-color: $gray-700

$nav-pills-link-active-color: $main-color
$nav-pills-link-active-bg: $component-active-bg

$link-color: $main-color
$link-shade-percentage: 20%
$link-hover-color: shift-color($link-color, $link-shade-percentage)

$list-group-color: $body-color
$list-group-bg: $gray-800
$list-group-border-color: rgba($black, .125)
$list-group-hover-bg:$gray-700
$list-group-active-color: $body-color
$list-group-active-bg: $main-color
$list-group-action-color: $gray-700
$list-group-action-hover-color: $body-color
$list-group-action-active-color: $body-color
$list-group-action-active-bg: $gray-600

$pagination-color: $white
$pagination-bg: $gray-800
$pagination-border-color: $gray-800

$pagination-focus-color: $white
$pagination-focus-bg: $main-color

$pagination-hover-color: $main-color
$pagination-hover-bg: $gray-800
$pagination-hover-border-color: $gray-800

$pagination-active-color: $white
$pagination-active-bg: $main-color
$pagination-active-border-color: $main-color

$pagination-disabled-color: $gray-500
$pagination-disabled-bg: $gray-800
$pagination-disabled-border-color: $gray-800
