.markdown, .privacy-policy
    @apply text-neutral-700 dark:text-neutral-200
    *
        list-style-type: revert
        margin: revert
        padding: revert
    h1
        @apply text-2xl font-bold -left-2 my-5 pl-2 border-l-8 border-teal-500
    h2
        @apply text-2xl font-bold -left-2 my-4 pl-2 border-l-4 border-teal-500
    h3
        @apply text-xl font-semibold -left-2 my-4 ml-2 pl-2 border-l-4 border-teal-500
    h4
        @apply text-lg font-semibold -left-2 my-4 ml-2 pl-2 border-l-4 border-neutral-700 dark:border-white
    h5
        @apply font-semibold -left-2 my-4 ml-2 pl-2 border-l-4 border-neutral-700 dark:border-white
    p
        // @apply
    a
        @apply text-teal-500 underline
    img
        @apply rounded max-h-96
    code
        @apply rounded
        &:not(.hljs)
            @apply rounded text-orange-400 dark:text-orange-300 bg-slate-500/10 dark:bg-slate-900/20 px-1
    table
        @apply border border-neutral-400
        thead th,
        tbody td
            @apply border border-neutral-400
            @apply p-1
