.turbo-progress-bar
    @apply bg-teal-500

// Alpinejs
[x-cloak]
    display: none !important

*
    caret-shape: block
    @apply font-mono caret-white

// bg-animation
.animate-gradient
    -webkit-animation: gradient 5s ease-in-out infinite
    -moz-animation: gradient 5s ease-in-out infinite
    animation: gradient 5s ease-in-out infinite

@keyframes gradient
    0%,
    100%
        background-position: 0% 50%

    50%
        background-position: 100% 50%
